#Bar_chart {
	align-self: center;
}

.title-box {
    background-color: rgb(193, 202, 139);
    padding-top: 20px;
    border-style: outset;
    border-width: 10px;
    border-color: rgb(193, 202, 139);
    text-align: center;
}

  body *{
	font-family: sans-serif;
  }
  
  h1 {
	font-weight: 1500;
	text-align: center;
	font-size: 100px
  }
  
  body {
	background-color: whitesmoke;
  }
  
  .page {
	width: 1200px;
	background-color: rgb(222, 223, 213);
	margin: auto;
	padding: 50px;
	padding-top: 35px;
  }
  
  .vis-container {
	width: 100%;
  }
  
  .description h2,
  h1 {
	margin-top: 0px;
	font-size: 28px;
  }
  
  .description-right {
	padding-left: 20px;
  }
  
  .description-left {
	padding-right: 20px;
  }
  
  .pure-g {
	margin-bottom: 40px;
  }
  
  .small-font {
	font-size: 20px;
  }

  p {
	font-size: 18px;
  }